http.host: "0.0.0.0"
XPACK_MONITORING_ELASTICSEARCH_HOSTS: "http://172.16.4.45:9200"
XPACK_MONITORING_ENABLED: "true"
XPACK_MONITORING_ELASTICSEARCH_USERNAME: "td-agent"
XPACK_MONITORING_ELASTICSEARCH_PASSWORD: "aJtK29az9mzTSMi"